
{% extends 'layout.html.twig' %}

{% block content %}

    <section class="row justify-content-center m-3">
        <form action="" method="post" class="form-inline">
                <label for="gameName" class="col-xl-auto mx-1">Nom de la partie</label>
                <input type="text" name="gameName" id="gameName" class="form-control col-xl-auto mx-1" placeholder="Marvel vs DC">
                <input name="submit" id="creat" class="btn btn-warning col-xl-auto mx-1 px-5" type="button" value="CREER LA PARTIE">
        </form>
    </section>
<div class="container">
    <section>

        <table class="table table-dark table-hover" id="list-game">
            <thead>
            <tr>
                <th>Nom de la partie</th>
                <th>joueur 1</th>
                <th>joueur 2</th>
            </tr>
            </thead>
            <tbody>
            {% for game in games %}
            <tr data-id="{{ game.id }}" data-player2="{{ game.playerId2 }}" class="tr-game">
                <td>{{ game.name }}</td>
                <td>{{ game.player1 }}</td>
                <td>
                    {% if game.player2 is empty %}
                    <button class="join-game btn btn-primary" data-gameId="{{ game.id }}">Rejoindre</button>
                    {% else %}
                    {{ game.player2 }}
                        {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>



    </section>
</div>
{% endblock %}



