{% set numberColumn = 15 %}     {#définir ici en dur le nombre de colonnes #}
{% set numberLine = 10 %}     {#définir ici en dur le nombre de lignes #}
{% set idCell = 1 %}            {# l'ID de chaque cellule   // JE COMMENCE À 1 ET NON PAS 0 !! #}


<table>
    {% for i in 1..{{ numberLine }} %}
         <tr>

        {% for j in 1..{{ numberColumn }} %}
             <td title="Id cellule = {{ idCell }}. Coordonnées X={{ j }} Y={{ i }}" class="{{ idCell }}"></td>
            {% set idCell = idCell+1 %}
            {% endfor %}

         </tr>
    {% endfor %}


{# Mise du code original en commentaire #}



{#    echo '<table>';
for ($i=1; $i<$numberLine+1; $i++){
echo '<tr>';

    for ($j=1; $j<$numberColumn+1; $j++){
    echo '<td title="Id cellule = ' . $idCell . '. Coordonnées X=' . $j . ' Y=' . $i . '" class="' . $idCell . '"</td>';
    $idCell++;
    }
    echo '</tr>';
}
echo '</table>';

#}