{% set numberColumn = 15 %}     {#définir ici en dur le nombre de colonnes #}
{% set numberLine = 10 %}     {#définir ici en dur le nombre de lignes #}
{% set idCell = 1 %}            {# l'ID de chaque cellule   // JE COMMENCE À 1 ET NON PAS 0 !! #}


<table>
    {% for i in 1..{{ numberLine }} %}
         <tr>

        {% for j in 1..{{ numberColumn }} %}
             <td data-coord="['{{ j }}','{{ i }}']" title="Id cellule = {{ idCell }}. Coordonnées X={{ j }} Y={{ i }}" class="{{ idCell }}"></td>
            {% set idCell = idCell+1 %}
            {% endfor %}

         </tr>
    {% endfor %}
</table>

<script>
    $.post('/hero',function(data){
        alert(data);
    },'json');
</script>
